<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
 	version="6.1"
 	metadata-complete="true">

 	<display-name>My Web App</display-name>
 	<description>
     Welcome to my web app!
 	</description>

 	<servlet> 
        <servlet-name>Index</servlet-name> 
        <servlet-class>controller.app.IndexController</servlet-class> 
  	</servlet>
  	<servlet> 
        <servlet-name>ApiUserAll</servlet-name> 
        <servlet-class>controller.api.user.AllController</servlet-class> 
  	</servlet>  
  	<servlet> 
        <servlet-name>ApiUserByUsername</servlet-name> 
        <servlet-class>controller.api.user.ByUsernameController</servlet-class> 
  	</servlet>
     
     <servlet-mapping> 
     	<servlet-name>Index</servlet-name> 
    	<url-pattern></url-pattern> 
    </servlet-mapping>
   	<servlet-mapping> 
     	<servlet-name>ApiUserAll</servlet-name> 
    	<url-pattern>/api/user/all</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
     	<servlet-name>ApiUserByUsername</servlet-name> 
    	<url-pattern>/api/user/by_username</url-pattern> 
    </servlet-mapping>
</web-app>